<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div id="menu-btn" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="icon"></span>
                <span class="text">MENU</span>
            </div>
            <a class="navbar-brand" href="/">seemē</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#download">Download</a>
                </li>
                <li>
                    <a class="page-scroll" href="/signin">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="container top-container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
<form id="signup" class="form-signin" name="signup" method="post" action="/signup">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">Basic Details</li>
		<li>Profile Details</li>
        <li>Matching Details</li>
	</ul>
	<!-- fieldsets -->
	<fieldset id="one">
		<h2 class="fs-title">Create your Seemē account</h2>
		<h3 class="fs-subtitle">This is simple enough</h3>
		<input type="text" name="email" placeholder="Email">
		<input name="password" type="password" placeholder="Password">
		<input type="password" name="cpass" placeholder="Confirm Password">
		<input type="button" name="next" class="next action-button" value="Next">
	</fieldset>
	<fieldset id="two">
		<h2 class="fs-title">Profile Details</h2>
		<h3 class="fs-subtitle">Your presence on Seeme</h3>
		<input name="firstname" class="form-control" type="text" placeholder="First Name">
		<input name="lastname" class="form-control" type="text" placeholder="Last Name">
		<input name="age" class="form-control" type="numbers" placeholder="age">
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset id="three">
		<h2 class="fs-title">Matching Details</h2>
		<h3 class="fs-subtitle">Help Us, Help You</h3>
        <label>I am a: </label>
            <select name="is_male" class="form-control" id="sel1">
                <option>Guy</option>
                <option>Girl</option>
            </select>
        <label>Seeking a: </label>
            <select name="seeking_male" class="form-control" id="sel1">
                <option>Guy</option>
                <option>Girl</option>
            </select>
		<input type="button" name="previous" class="previous action-button" value="Previous" />
		<input type="submit" name="submit" class="submit action-button" value="Submit" />
	</fieldset>
</form>
            <label class="new-account">already have an account? <a href="/signin">sign in</a></label>
        </div>
    </div>
</div>
